body{
    background-color: rgb(241, 229, 231);
    opacity: 1;
}
.intro{
text-align: center;
font-family: "Times New Roman";
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height:150px;
}
.agile{
    font-family: "New Roman Times";
    text-align: center;
    font-size: medium;
    color: black;
}
.mani{
    font-family: "New Roman Times";
    text-align: center;
    font-size: medium;
    color: black;
}
.scrum{
    font-family: "New Roman Times";
    text-align: center;
    font-size: medium;
    color: rgb(39, 15, 15);
}




                                                                                                                                                                                                                                                                                                       
