body{
background-color: pink;
opacity:0.6;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



                                                                                                                                                                                                                                                                                                       
